# 1. Arithmetic Operators

## 1.1 บวก (+)

In [1]:
a = 5
b = 10
c = 7

In [2]:
a + b

15

In [3]:
print(b + c)

17

## 1.2 ลบ (-)

In [4]:
a = 5
b = 10
c = 7

In [5]:
a - b

-5

In [6]:
b - c

3

## 1.3 คูณ (*)

In [7]:
a = 5
b = 10
c = 7

In [8]:
a * b

50

In [9]:
b * c

70

## 1.4 หาร (/)

In [10]:
a = 5
b = 10
c = 7

In [11]:
a/b

0.5

In [12]:
b/c

1.4285714285714286

## 1.5 ยกกำลัง (**)

In [13]:
a = 2
b = 3
c = 4

In [14]:
a**b

8

In [15]:
b**c

81

## 1.6 เศษจากการหาร (%)

In [16]:
a = 5
b = 10
c = 7

In [17]:
a%b

5

In [18]:
b%c

3

## 1.7 ผลหารปัดเศษลง (//)

In [19]:
a = 5
b = 10
c = 7

In [20]:
a//b

0

In [21]:
b//c

1

# 2. Comparison Operators

## 2.1 ตรวจสอบความเท่ากัน (==)

In [22]:
a = 5
b = 'name'

In [23]:
a == 5

True

In [24]:
a == 7

False

In [25]:
b == 'name'

True

In [26]:
b == 'fullname'

False

## 2.2 ตรวจสอบความไม่เท่ากัน (!=)

In [27]:
a = 5
b = 'name'

In [28]:
a != 5

False

In [29]:
a != 7

True

In [30]:
b != 'name'

False

In [31]:
b != 'fullname'

True

## 2.3 ตรวจสอบความมากกว่า (>)

In [32]:
a = 5

In [33]:
a > 4

True

In [34]:
a > 5

False

In [35]:
a > 6

False

## 2.4 ตรวจสอบความน้อยกว่า (<)

In [36]:
a = 5

In [37]:
a < 4

False

In [38]:
a < 5

False

In [39]:
a < 6

True

## 2.5 ตรวจสอบความมากกว่าหรือเท่ากับ (>=)

In [40]:
a = 5

In [41]:
a >= 4

True

In [42]:
a >= 5

True

In [43]:
a >= 6

False

## 2.6 ตรวจสอบความน้อยกว่าหรือเท่ากับ (<=)

In [44]:
a = 5

In [45]:
a <= 4

False

In [46]:
a <= 5

True

In [47]:
a <= 6

True

# 3. Logical Operators

## 3.1 and

In [48]:
t = True
f = False

In [49]:
t and f

False

## 3.2 or

In [50]:
t = True
f = False

In [51]:
t or f

True

## 3.3 not

In [52]:
t = True
f = False

In [53]:
not t

False

In [54]:
not f

True

# 4. Membership Operators

## 4.1 in

In [55]:
listA = [1, 2, 3, 4]
tupleA = ('a', 'b', 'c', 'd')

In [56]:
1 in listA

True

In [57]:
1 in tupleA

False

In [58]:
dictA = {'name' : 'John', 'age' : 32}
setA = {'Sushi', 'Salmon'}

In [59]:
'name' in dictA

True

In [60]:
'Egg' in setA

False

## 4.2 not in

In [61]:
listA = [1, 2, 3, 4]
tupleA = ('a', 'b', 'c', 'd')

In [62]:
1 not in listA

False

In [63]:
1 not in tupleA

True

In [64]:
dictA = {'name' : 'John', 'age' : 32}
setA = {'Sushi', 'Salmon'}

In [65]:
'name' not in dictA

False

In [66]:
'Egg' not in setA

True